$font-size-medium :1rem;
$font-size-small :0.5rem;
$font-size-large: 2rem;
$spacing: 20px;
$spacing-small: 10px;
$spacing-large: 30px;
$Roboto-Fonts: 'Roboto Condensed', sans-serif;
$Baloo-Bhai-Font: 'Baloo 2', cursive;


@mixin glassEffect {
    background: rgba( 255, 255, 255, 0.55 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 30px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}





body {
    background-color: #0093E9;
    background-image:url('./wallpaperflare.com_wallpaper.jpg');
    margin: 0 5px;
    background-repeat: no-repeat;
    background-size: cover;

    h2,
    h4 {
        font-family: $Baloo-Bhai-Font;

    }

    img {
        width: 100px;
        height: 100px;
        object-fit: contain;

    }
    &::-webkit-scrollbar{
        width: 0;
    }
    
   

}




nav {

    width: 100%;
    margin: 0;
    text-align: center;
    height: 10vh;

    h1 {

        font-family: 'Baloo Tammudu 2', 'cursive';
        font-size: 3rem;
        margin: 0;
    }
}

#information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
  
    margin: 0 ;
    gap: $spacing-small;
    

    h1 {
        font-family: 'Baloo Tammudu 2', cursive;
    }

    .current {
        border: 2px solid black;
      
        text-align: center;
        width: 450px;
        height: 650px;
        @include glassEffect();
        
        

        h1 {
            font-size: $font-size-large;
            margin: 0;
        }

        h2 {
            margin: 0px;
        }


        p {
            font-size: larger;
            margin: 0;
        }

        #hourly-forecast {
            display: flex;
            flex-direction: row;
            
            min-width: 350px;
            max-width: 450px;
            gap: $spacing;
            overflow-x: scroll;

            h4 {
                font-size: $font-size-large;
                margin: 0;
            }
            &::-webkit-scrollbar{
               
                height: 4px;
                background-color: #0093E9;
            }
            
            &::-webkit-scrollbar-thumb{
                width: 2px;
                border-radius: 10px;
                background-color: rgb(255, 17, 164);
            }


        }

    }

    .five-day-forecast {
        border: 2px solid purple;
      
        text-align: center;
        
        width: 450px;
        height: 650px;
        overflow-y: scroll;
       
        @include glassEffect();
        &::-webkit-scrollbar{
               
            width: 4px;
            

            background-color: #0093E9;
        }
        
      
        &::-webkit-scrollbar-thumb{
            width: 2px;
            border-radius: 10px;
            background-color: rgb(255, 17, 164);
        }


        h1 {
            margin:0;
            font-size: 2.5rem;

        }

        #five-days {
            margin: 0;



            div {
                align-items: center;
                text-align: center;
                display: flex;
                place-content: center;
                margin: 0;

                h1{
                    padding: 0;
                    margin: 0;
                    font-size: $font-size-large;
                }

                .temp-div {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0 2px;
                    font-size: 1.5rem;
                    font-weight: 200;
                }

            }
        }
    }

    .humidity-feel {
        border: 2px solid red;
        
        text-align: center;
       
        width: 450px;
        height: 650px;
        @include glassEffect();
        
        

        h1 {
            font-size: 3rem;
            margin-bottom: 0;
            

        }

        h2 {
            font-size: 4rem;
            font-weight: 50;
            padding: 0;
            margin: 0;
        }

        #humidity {

            height: 30%;

        }

        #feels-like {
            margin-top: 30%;
        }
    }
}

.current #search {
    width: 90%;
    height: 40px;
    margin-top: 10px;
    border-radius: 15px;
 
    font-size: larger;
    font-weight: 500;
    
    border-bottom: 4px solid black;
    

    // text-decoration: underline;
    background-color: transparent;
    &::placeholder{
        color: white;
    }
}

.current #search:focus {
    outline-width: 4px;
    outline: none;


}


